#about .quotes {
  padding: 0;
  margin: 0 0 60px 0;
  position: relative;
}
#about .quotes > i {
  color: #c0392b;
  cursor: pointer;
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  transition: .25s all ease 0s;
}
#about .quotes > i:hover {
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
}
#about .quotes > i.spin {
  -webkit-animation-name: spin;
          animation-name: spin;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#about .quotes .quote {
  display: none;
}
#about .quotes .quote.show {
  display: block;
}
#about .quotes .quote > h3 {
  margin-top: 0;
}
#about .quotes .quote > h3 > .text-highlight {
  background: #2ecc71;
  color: #ffffff;
}
#about .quotes .quote > h3 > .text-highlight.secondary {
  background: #9b59b6;
}
#about .quotes .quote > h3 > .text-highlight.tertiary {
  background: #f1c40f;
}
#about .quotes .quote > h3 > .text-highlight.quaternary {
  background: #c0392b;
}
#about .quotes .quote > h3 > a.primary,
#about .quotes .quote > h3 i.primary {
  color: #2ecc71;
}
#about .quotes .quote > h3 > a.secondary,
#about .quotes .quote > h3 i.secondary {
  color: #9b59b6;
}
#about .quotes .quote > h3 > a.tertiary,
#about .quotes .quote > h3 i.tertiary {
  color: #f1c40f;
}
#about .quotes .quote > h3 > a.quaternary,
#about .quotes .quote > h3 i.quaternary {
  color: #c0392b;
}
#about .quotes .quote > h3 > a > i,
#about .quotes .quote > h3 i > i {
  transition: .25s all ease 0s;
}
#about .quotes .quote > h3 > a:hover > i,
#about .quotes .quote > h3 i:hover > i {
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
}
#contact {
  background: url('../img/atthebeach.jpg');
  background-size: cover;
  background-position: center center;
  height: 600px;
  position: relative;
}
@media (min-width: 1200px) {
  #contact {
    height: 100vh;
  }
}
#contact > .skin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
}
#contact > .skin > .contact-info {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -48px;
  margin-left: -150px;
}
#contact > .skin > .contact-info > h3 {
  margin: 0;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 40px;
  line-height: 1;
}
#contact > .skin > .contact-info > .social-icons {
  line-height: 1;
}
#contact > .skin > .contact-info > .social-icons a {
  display: inline-block;
  float: left;
  width: 20%;
}
#contact > .skin > .contact-info > .social-icons a:hover {
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
}
#contact > .skin > .contact-info > .social-icons a > i {
  font-size: 36px;
  color: #FFF;
}
* {
  transition: all 1s ease 0s;
}
body {
  overflow-x: hidden;
  font-smoothing: antialiased;
  background-color: #ffffff;
  color: #555555;
  font-family: "Cabin", "Helvetica Neue";
  font-weight: 300;
}
section[id] {
  padding-top: 6em;
  padding-bottom: 6em;
}
footer {
  background-color: #ffffff;
}
a,
a:hover,
a:active {
  color: #e74c3c;
}
a,
a:hover,
a:active,
a:focus {
  outline: 0;
}
h3 {
  font-weight: 200;
}
@media (min-width: 768px) {
  .columned {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
  }
}
footer {
  margin: 50px auto;
}
.lt-ie9 {
  text-align: center;
}
.lt-ie9 .header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e74c3c;
}
.lt-ie9 .header h1 {
  color: #FFF;
}
.lt-ie9 .header .txt {
  color: #888;
  background-color: #fafafa;
  padding: 10px;
  width: 400px;
  margin: 40px auto;
}
.link-btn {
  border: 2px solid #e74c3c;
  padding: 4px;
  color: #e74c3c;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 0.875em;
}
.link-btn:hover,
.link-btn:active {
  background-color: #e74c3c;
  text-decoration: none;
  color: #ffffff;
}
[octo-nav] .nav-container {
  height: 50px;
  position: relative;
  padding: 0 15px;
  display: block;
}
[octo-nav] #menu,
[octo-nav] #hidden-menu {
  width: 100%;
  height: 50px;
  z-index: 25;
  transition: all .25s ease 0s;
  background-color: #ffffff;
}
[octo-nav] #menu i,
[octo-nav] #hidden-menu i {
  margin: 5px;
  cursor: pointer;
}
[octo-nav] #menu img,
[octo-nav] #hidden-menu img {
  height: 40px;
  margin: 5px;
}
[octo-nav] #hidden-menu {
  display: none;
  padding: 0 15px;
}
[octo-nav] #hidden-menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: block;
}
header[octo-curtain],
header.octo-curtain {
  position: relative;
  min-height: 250px;
  height: 600px;
  height: calc(100%);
  background-color: #e74c3c;
  transition: all 0s ease 0s;
  overflow: hidden;
}
header[octo-curtain] > h1.octo-curtain-title,
header.octo-curtain > h1.octo-curtain-title,
header[octo-curtain] > h1[octo-curtain-title],
header.octo-curtain > h1[octo-curtain-title] {
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  line-height: 1;
  font-size: 25px;
  margin: 0;
  margin-top: -25px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  z-index: 1;
}
@media (min-width: 768px) {
  header[octo-curtain] > h1.octo-curtain-title,
  header.octo-curtain > h1.octo-curtain-title,
  header[octo-curtain] > h1[octo-curtain-title],
  header.octo-curtain > h1[octo-curtain-title] {
    font-size: 50px;
  }
}
header[octo-curtain] > h1.octo-curtain-title > [octo-nav-link],
header.octo-curtain > h1.octo-curtain-title > [octo-nav-link],
header[octo-curtain] > h1[octo-curtain-title] > [octo-nav-link],
header.octo-curtain > h1[octo-curtain-title] > [octo-nav-link] {
  height: 50px;
  width: 50px;
  color: #FFF;
  opacity: .25;
  position: absolute;
  top: 200%;
  left: 50%;
  margin-left: -25px;
}
header[octo-curtain] > h1.octo-curtain-title > [octo-nav-link]:hover,
header.octo-curtain > h1.octo-curtain-title > [octo-nav-link]:hover,
header[octo-curtain] > h1[octo-curtain-title] > [octo-nav-link]:hover,
header.octo-curtain > h1[octo-curtain-title] > [octo-nav-link]:hover {
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
  opacity: 1;
}
header[octo-curtain] > .octo-curtain-icon-layer,
header.octo-curtain > .octo-curtain-icon-layer,
header[octo-curtain] > [octo-curtain-icon-layer],
header.octo-curtain > [octo-curtain-icon-layer] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
header[octo-curtain] > .octo-curtain-icon-layer.horizontal > .octo-curtain-icon,
header.octo-curtain > .octo-curtain-icon-layer.horizontal > .octo-curtain-icon,
header[octo-curtain] > [octo-curtain-icon-layer].horizontal > .octo-curtain-icon,
header.octo-curtain > [octo-curtain-icon-layer].horizontal > .octo-curtain-icon,
header[octo-curtain] > .octo-curtain-icon-layer.horizontal > [octo-curtain-icon],
header.octo-curtain > .octo-curtain-icon-layer.horizontal > [octo-curtain-icon],
header[octo-curtain] > [octo-curtain-icon-layer].horizontal > [octo-curtain-icon],
header.octo-curtain > [octo-curtain-icon-layer].horizontal > [octo-curtain-icon] {
  width: 100%;
  height: 75px;
}
header[octo-curtain] > .octo-curtain-icon-layer.horizontal > .octo-curtain-icon > i,
header.octo-curtain > .octo-curtain-icon-layer.horizontal > .octo-curtain-icon > i,
header[octo-curtain] > [octo-curtain-icon-layer].horizontal > .octo-curtain-icon > i,
header.octo-curtain > [octo-curtain-icon-layer].horizontal > .octo-curtain-icon > i,
header[octo-curtain] > .octo-curtain-icon-layer.horizontal > [octo-curtain-icon] > i,
header.octo-curtain > .octo-curtain-icon-layer.horizontal > [octo-curtain-icon] > i,
header[octo-curtain] > [octo-curtain-icon-layer].horizontal > [octo-curtain-icon] > i,
header.octo-curtain > [octo-curtain-icon-layer].horizontal > [octo-curtain-icon] > i {
  -webkit-animation-name: octo-curtain-horizontal;
          animation-name: octo-curtain-horizontal;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon,
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon,
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon,
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 12.5%;
  height: 100%;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i,
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i,
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i,
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i {
  color: #ff0800;
  -webkit-animation-name: octo-curtain-vertical;
          animation-name: octo-curtain-vertical;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="0"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="0"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="0"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="0"] {
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="1"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="1"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="1"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="1"] {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="2"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="2"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="2"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="2"] {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="3"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="3"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="3"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="3"] {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="4"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="4"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="4"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="4"] {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="5"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="5"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="5"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="5"] {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="6"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="6"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="6"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="6"] {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="7"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="7"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="7"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="7"] {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="8"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="8"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="8"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="8"] {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="9"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="9"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="9"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="9"] {
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="10"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-duration="10"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="10"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-duration="10"] {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-delay="0"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-delay="0"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-delay="0"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-delay="0"] {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-delay="1"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-delay="1"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-delay="1"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-delay="1"] {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-delay="2"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-delay="2"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-delay="2"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-delay="2"] {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-delay="3"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-delay="3"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-delay="3"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-delay="3"] {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-delay="4"],
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i[data-delay="4"],
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-delay="4"],
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i[data-delay="4"] {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i.sm,
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i.sm,
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i.sm,
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i.sm {
  font-size: 1.5em;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i.md,
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i.md,
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i.md,
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i.md {
  font-size: 3em;
}
header[octo-curtain] > .octo-curtain-icon-layer > .octo-curtain-icon > i.lg,
header.octo-curtain > .octo-curtain-icon-layer > .octo-curtain-icon > i.lg,
header[octo-curtain] > [octo-curtain-icon-layer] > .octo-curtain-icon > i.lg,
header.octo-curtain > [octo-curtain-icon-layer] > .octo-curtain-icon > i.lg {
  font-size: 4.5em;
}
@-webkit-keyframes octo-curtain-horizontal {
  0% {
    right: 105%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    right: -15%;
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes octo-curtain-horizontal {
  0% {
    right: 105%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    right: -15%;
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@-webkit-keyframes octo-curtain-vertical {
  0% {
    bottom: 105%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    bottom: -15%;
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes octo-curtain-vertical {
  0% {
    bottom: 105%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    bottom: -15%;
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@media (min-width: 1200px) {
  header.octo-curtain,
  header[octo-curtain] {
    background-size: cover;
    min-height: 250px;
    height: 100vh;
  }
  .octo-curtain-icon-layer.horizontal > .octo-curtain-icon,
  [octo-curtain-icon-layer].horizontal > .octo-curtain-icon,
  .octo-curtain-icon-layer.horizontal > [octo-curtain-icon],
  [octo-curtain-icon-layer].horizontal > [octo-curtain-icon] {
    width: 100%;
    height: 12.5vh !important;
  }
}
[octo-nav].show-nav > [octo-nav-page-content],
[octo-nav].show-nav [octo-nav-hidden-menu] {
  margin-left: 250px;
}
[octo-nav].show-nav > [octo-nav-page-content][octo-nav-page-content],
[octo-nav].show-nav [octo-nav-hidden-menu][octo-nav-page-content] {
  box-shadow: -10px 0px 20px #222222;
}
[octo-nav] > [octo-nav-navigation] {
  width: 250px;
  background-color: #424242;
  color: #a8a8a8;
}
[octo-nav] > [octo-nav-navigation] ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
[octo-nav] > [octo-nav-navigation] ul > li {
  font-size: 18px;
}
[octo-nav] > [octo-nav-navigation] ul > li > a {
  display: inline-block;
  max-width: 250px;
  padding: 10px;
  font-size: 14px;
}
[octo-nav] > [octo-nav-navigation] ul > li > a img {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  display: inline-block;
}
[octo-nav] > [octo-nav-navigation] ul > li > a img,
[octo-nav] > [octo-nav-navigation] ul > li > a i {
  margin-right: 10px;
}
[octo-nav] > [octo-nav-navigation] ul > li > a[octo-nav-link] {
  color: #a8a8a8;
  text-decoration: none;
}
[octo-nav] > [octo-nav-navigation] ul > li > a[octo-nav-link]:hover {
  color: #f5f5f5;
}
[octo-nav] > [octo-nav-navigation] ul > li[octo-nav-divider],
[octo-nav] > [octo-nav-navigation] ul > li[octo-nav-header] {
  border-top: 2px solid #666666;
  color: #666666;
}
[octo-nav] > [octo-nav-navigation] ul > li[octo-nav-header] {
  font-size: 12px;
  text-transform: uppercase;
  margin: 20px 50px 0 8px;
}
[octo-nav] [octo-nav-panel] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
[octo-nav] [octo-nav-scrollable] {
  position: relative;
  overflow: auto;
  height: 100%;
}
[octo-nav] > [octo-nav-page-content] {
  width: 100%;
  box-shadow: 0 0 0 #222;
  background: #fff;
  transition-duration: 250ms;
}
[octo-nav] > [octo-nav-page-content].show-nav {
  margin-left: 250px;
}
.projects .project {
  margin-bottom: 44px;
}
.projects .project i {
  color: #f1c40f;
}
.projects .more {
  padding: 12px;
}
#thoughts {
  background-color: #b0e2ff;
}
#thoughts .link-btn {
  color: #FFF;
  border-color: #FFF;
  background-color: #b0e2ff;
  padding: 12px;
}
#thoughts .link-btn:hover {
  background-color: #FFF;
  color: #b0e2ff;
}
#thoughts .more-thoughts {
  padding-top: 60px;
}
#thoughts .recent-thoughts-container {
  position: relative;
  width: 100%;
  border: 2px solid #95a5a6;
  padding: 44px 44px 0 44px;
  background-color: #FFF;
  border-radius: 3em;
  margin: 0 auto;
}
#thoughts .recent-thoughts-container:before {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 25px;
  width: 70px;
  height: 30px;
  border: 2px solid #95a5a6;
  border-radius: 100%;
  background-color: #FFF;
}
#thoughts .recent-thoughts-container:after {
  content: "";
  position: absolute;
  bottom: -52px;
  left: 8px;
  width: 40px;
  height: 20px;
  border: 2px solid #95a5a6;
  border-radius: 100%;
  background-color: #FFF;
}
#thoughts .recent-thoughts-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#thoughts .recent-thoughts-container .thought {
  transition: all .25s ease 0s;
}
#thoughts .recent-thoughts-container .thought h3 {
  font-size: 18px;
  margin: 5px 0 2px;
  line-height: 1.2;
  color: #000;
}
#thoughts .recent-thoughts-container .thought p {
  font-size: 14px;
  letter-spacing: -0.02em;
  margin: 0 0 44px;
  opacity: .6;
  color: #000;
}
#thoughts .recent-thoughts-container .thought:hover {
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
}
#thoughts .recent-thoughts-container .thought:hover a {
  text-decoration: none;
}
@media (min-width: 768px) {
  #thoughts .recent-thoughts-container {
    width: 90%;
  }
}
@media (min-width: 992px) {
  #thoughts .recent-thoughts-container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  #thoughts .recent-thoughts-container {
    width: 70%;
  }
}
li[data-twttr-id] {
  padding: 10px;
}
